<H1>Ajouter ou modifier un film</H1>

<form [formGroup]="filmForm" (ngSubmit)="save()">
    <div class="form-group">
        <label for="filmTitle">Titre du film</label>
        <input type="text" class="form-control" formControlName="title">
    <div class="form-group">
        <label for="filmDescription">Description</label>
        <textarea type="text" class="form-control"  formControlName="synopsis"></textarea>
    </div>
    <div class="form-group">    
        <label for="filmRating"> Note </label>
        <input type="number" class="form-control" formControlName="rating">
    </div>
        <button type="submit" [disabled]="filmForm.invalid" class="btn btn-primary">SUBMIT</button>
    </div> 
    <div>
    <button type="submit" class="btn btn-primary" (click)="printFilm()">Load film to edit</button> 
</div>
</form>

<br>
<hr class="my-4">
<br>
